extends layout 

block content 
    h1=  title
    p #[strong Description:] #{description}

    div(style='margin-left:20px;margin-top:20px')

        h4 Games in this category:

        dl
            each game in games 
                dt 
                    a(href=game.url) #{game.title}
                dd #{game.description}

            else
                p This category has no games

    hr
    p 
    a(href=category.url+'/delete') Delete category