extends layout 

block content 
    h1 #{game.title}:  #{game._id}

    p #[strong Title:] 
        a(href=game.url) #{game.title}
    p #[strong Description:] #{game.description}
    p #[strong Category:] 
        a(href=game.category.url) #{game.category.name}
    p #[strong Price:] #{game.price}
    p #[strong Stock:] #{game.stock}

    p Do you really want to delete this game?
    
    form(method='POST' action='')
        div.form-group
            input#gameid.form-control(type='hidden', name='gameid', required='true', value=game._id)

        button.btn.btn-primary(type='submit') Delete