extends layout 

block content 

    h1 #{title}

    p #[strong Category:] 
        a(href=category.url) #{category.name}
    p #[strong Description:] #{description}
    p #[strong Price:] #{price}
    p #[strong Stock:] #{stock}